<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {{>nav}}
        <H1>This is all about me</H1>
        <h1>Myself Pranav kumar and i read in Nsec </h1>
        

        <a href="/about"><button>About Me</button></a>
    </div>
</body>
</html>