<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Login Page</h1>
        <form action="/login" method="post">
            <div>
                <label for="">Enter Your Email id : </label>
                <input type="email" name="" id="">
            </div>
            <div>
                <label for="">Enter Your Password: </label>
                <input type="password" name="" id="">
            </div>
        </form>
    </div>
    <a href="/SignUp">SignUp Now</a>
    </body>

</html>